:root{
    font-family: Inter, sans-serif;
    --color-bg: #22222e;
    --color-primary: rgb(68, 57, 103);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    color: white;
}
.site-wrapper{
    padding: 2rem;
    width: min(100%, 800px);
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    min-height: 100dvh;
    align-items: end;
}
#game-area{
    border: #000 solid 2px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
}

#player-side, #computer-side{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
}
#computer-side{
    height: 4rem;
}



.button{
    background-color: var(--color-primary);
    color: white;
    height: 3rem;
    border-radius: 100vw;
    display: block;
    align-content: center;
    text-align: center;
}
.button:hover{
    filter: brightness(1.1);
}
footer{
    text-align: center;
    a{color: white;}
}
@media (max-width:500px) {
    #player-side, #computer-side{
        grid-template-columns: repeat(2,1fr);
    }
}